[Unit]
Description=Livescore Pilot Gunicorn Service (with SocketIO)
After=network.target

[Service]
User=root
Group=root
Environment="PATH=/usr/local/bin:/usr/bin:/bin"
Environment="PYTHONPATH=/opt/livescore"
WorkingDirectory=/opt/livescore
ExecStart=/usr/local/bin/gunicorn -c /opt/livescore/gunicorn_config.py livescore:app
Restart=always
RestartSec=10

# Logging
StandardOutput=append:/opt/livescore/logs/service-output.log
StandardError=append:/opt/livescore/logs/service-error.log

[Install]
WantedBy=multi-user.target
