[Unit]
Description=Livescore Pilot Gunicorn Service
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/opt/livescore
ExecStart=/usr/local/bin/gunicorn --bind 127.0.0.1:8089 web_interface:app
Restart=always

[Install]
WantedBy=multi-user.target
