[Unit]
Description=Livescore Pilot Gunicorn Service
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/opt/livescore
ExecStart=/usr/local/bin/gunicorn -c gunicorn_config.py web_interface:app
Restart=always

[Install]
WantedBy=multi-user.target
